.episodes-wrapper {
  background-color: black;
  color: white;

  .season {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 25px 0 25px 20px;

    @media (min-width: 769px) {
      font-weight: 600;
      font-size: 1.3rem;
      padding: 35px 0 35px 35px;
    }

    @media (min-width: 1440px) {
      font-weight: 600;
      font-size: 1.3rem;
      padding: 35px 0 35px 60px;
    }
  }

  .episodes-list {
    padding: 0px 22px 0px 20px;

    @media (min-width: 769px) {
      padding: 0px 10px 0px 35px;
    }

    @media (min-width: 1440px) {
      padding: 0px 10px 0px 60px;
    }

    .episodes-content-wrapper {
      display: flex;
      max-width: 320px;
      margin-bottom: 20px;

      @media (min-width: 769px) {
        max-width: 840px;
        margin-bottom: 50px;
        height: 140px;
      }

      .episodes-links {
        max-width: 300px;
        height: 75px;
        @media (min-width: 769px) {
          min-width: 300px;
        }

        .episode-image {
          display: block;
          width: 130px;
          height: 75px;
          margin-right: 10px;

          @media (min-width: 769px) {
            width: 250px;
            height: auto;
            max-height: 140px;
            margin-right: 10px;
          }
        }
      }

      .episode-content {
        height: auto;
        color: white;
        @media (min-width: 769px) {
          margin-left: 30px;
        }
        .episode-title {
          font-size: 1.2rem;
          margin-bottom: 10px;

          @media (min-width: 769px) {
            margin-bottom: 20px;
            font-size: 1.5rem;
          }
        }

        .episode-plot {
          line-height: 25px;
          font-size: 0.9rem;
          @media (min-width: 769px) {
            font-size: 1.12rem;
            text-align: justify;
          }
        }
      }
    }
  }
}
