.catalog-title {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 25px 0px 25px 60px;

  @media (max-width: 1024px) {
    margin: 25px 0px 25px 35px;
  }

  @media (max-width: 768px) {
    margin: 15px 0px 20px 15px;
    font-size: 1.1rem;
  }

  @media (max-width: 425px) {
    margin: 20px 0px 20px 15px;
    font-size: 1.1rem;
  }

  @media (max-width: 375px) {
    margin: 20px 0px 20px 15px;
    font-size: 1.1rem;
  }

  @media (max-width: 320px) {
    margin: 15px 0;
    font-size: 1rem;
  }
}

.recommendations-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 70px 30px 60px;

  @media (max-width: 1024px) {
    margin: 0px 10px 30px 35px;
  }
  @media (max-width: 768px) {
    margin: 0 5px 30px 15px;
  }

  .catalog-content {
    margin-right: 12px;
    max-width: 340px;

    .cover-images {
      max-width: 340px;

      @media (max-width: 1440px) {
        max-width: 300px;
      }

      @media (max-width: 768px) {
        max-width: 240px;
      }

      @media (max-width: 425px) {
        max-width: 190px;
      }

      @media (max-width: 375px) {
        max-width: 170px;
      }
      @media (max-width: 320px) {
        max-width: 140px;
      }
    }
  }
}
