.catalog-title {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 25px 0px 25px 60px;

  @media (max-width: 1024px) {
    margin: 30px 0px 30px 35px;
  }

  @media (max-width: 768px) {
    margin: 20px 0px 20px 15px;
    font-size: 1.1rem;
  }

  @media (max-width: 425px) {
    margin: 20px 0px 20px 15px;
    font-size: 1.1rem;
  }

  @media (max-width: 375px) {
    margin: 20px 0px 20px 15px;
    font-size: 1.1rem;
  }

  @media (max-width: 320px) {
    margin: 15px 15px;
    font-size: 1rem;
  }
}

.recommendations-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 70px 30px 60px;

  @media (max-width: 1024px) {
    padding: 0px 35px 10px 35px;
  }
  @media (max-width: 768px) {
    padding: 0 15px 0px 15px;
  }
  @media (max-width: 320px) {
    padding: 0 15px 0px 15px;
  }

  .catalog-content {
    max-width: 340px;
    @media (max-width: 768px) {
      max-width: 300px;
    }

    .cover-images {
      max-width: 290px;
      width: 99%;
      @media (max-width: 1440px) {
        max-width: 255px;
      }

      @media (max-width: 1024px) {
        max-width: 240px;
      }

      @media (max-width: 768px) {
        max-width: 240px;
      }

      @media (max-width: 425px) {
        max-width: 190px;
      }

      @media (max-width: 375px) {
        max-width: 170px;
      }
      @media (max-width: 320px) {
        max-width: 140px;
      }
    }
  }
}
