.catalog-title {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 25px 0px 25px 60px;

  @media (max-width: 1024px) {
    margin: 25px 0px 25px 35px;
  }

  @media (max-width: 768px) {
    margin: 15px 0px 20px 15px;
    font-size: 1.1rem;
  }
}

.recommendations-content-wrapper {
  overflow-x: auto;
  display: flex;
  margin: 0 70px 30px 60px;

  @media (max-width: 1024px) {
    margin: 0px 10px 30px 35px;
  }
  @media (max-width: 768px) {
    margin: 0 5px 30px 15px;
  }

  .catalog-content {
    margin-right: 12px;

    .cover-image {
      display: block;
      width: 100%;
      min-width: 340px;
      @media (max-width: 320px) {
        width: 80%;
        min-width: 250px;
      }
      @media (max-width: 768px) {
        width: 80%;
        min-width: 250px;
      }
    }
  }
}
